<%= stylesheet_link_tag "sign-io", media: "all", "data-turbolinks-track" => "reload" %>
<script src="circular-std-book.cufonfonts.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">

<div class="side">
  <h2 class="logo">
    <%= link_to "dinnerdash", root_path %>
  </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash" if msg.length > 0 %>
    <% end %>

    <div class="field">
      <%= f.label "Nome" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "Senha" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres ao mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label "Confirme sua senha" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "cadastrar" %>
    </div>
  <% end %>

  <div class="links">
    <h6>Já possui conta?</h6>
    <%= render "devise/shared/links" %>
  </div>
</div>
