<%= stylesheet_link_tag "backoffice", media: "all", "data-turbolinks-track" => "reload" %>

<div class="wrapper">
  <br>
  <%= link_to 'Backoffice', backoffice_index_path %>
  <br>
  <%= link_to 'Home', home_index_path %>
  <br>
  <%= link_to 'Categorias', meal_categories_path %>
  <br>
  <%= link_to 'Pedidos', orders_path %>

  <h1>
    <%= @meal_category.name %>
  </h1>

  <p>---------------------------------------------</p>
  <strong>Adicionar refeição</strong>
  <p>---------------------------------------------</p>
  <%= render 'meals/form' %>

  <%- if !@meal_category.meals.empty? %>
    <p>---------------------------------------------</p>
    <strong>Refeições existentes</strong>
    <p>---------------------------------------------</p>
    <%= render @meal_category.meals, not_render: true  %>
  <% end -%>
</div>
