<p>
  <strong>ID:</strong>
  <%= order.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= order.status %>
</p>

<h2>Meals</h2>
<% order.order_has_meals.each do |meal_order| %>
  <p>
    <strong>Meal | Order | Price | QTD</strong><br />
    <%= Meal.find(meal_order.meal_id).name %> |
    <%= meal_order.order_id %> |
    <%= meal_order.price %> |
    <%= meal_order.quantity %> |
  </p>
<% end %>
