<p>
  <strong>ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>$$$:</strong>
  <%= @order.price %>
</p>

<h2>Meals</h2>
<% @order.order_has_meals.each do |meal_order| %>
  <p>
    <strong>Meal | Order | Price | QTD</strong><br />
    <%= Meal.find(meal_order.meal_id).name %>
    <br>
    <%= meal_order.order_id %>
    <br>
    <%= meal_order.price %>
    <br>
    <%= meal_order.quantity %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>
